#mychart {
  max-width: 650px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
max-width: 700px;
margin-left: auto;
margin-right: auto;
}

img {
  max-width: 100%;
}

.caption {
    font-size: 10px;
    color: #999999;
    padding-bottom: 15px;
}

.blurbtwo {
padding-bottom: 25px;
}

.blurbthree {
  padding-top: 25px;
}

.title {
font-family: font-family: 'Bebas Neue', cursive;
}
